.footer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 51.5px);
    &__box {
        position: absolute;
        bottom: -1%;
        width: 100vw;
        height: 70px;
        background-color: #2b6e6c;
        display: flex;
        justify-content: center;
        align-items: center;
        &-header {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

