th, td {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.rowOne {
    width: 10%;
    margin-top: 100px;
}

.rowTwo {
    width: 45%;
}

.rowThree {
    width: 45%;
}

.trUnder {
    margin-top: 10px;
}
